# For use with PyInstaller.
[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyserial = "*"
requests = {version = "*", index = "http://mirrors.aliyun.com/pypi/simple"}

[requires]
python_version = "3.8"
